---
layout: home
author_profile: true
classes: wide

feature_row_1:
  - image_path: /assets/img/home/projects.svg
    title: "Projects"
    excerpt: "View my programming projects on computational science and physics, many of which are open source and available on GitHub"
    url: "/projects/"
    btn_class: "btn--primary"
    btn_label: "Learn more"
feature_row_2:
  - image_path: /assets/img/home/research.svg
    title: "Research"
    excerpt: "Explore some of the research I have done over the years, including work on granular physics, plasmonics, and optical trapping"
    url: "/research/"
    btn_class: "btn--primary"
    btn_label: "Learn more"
feature_row_3:
  - image_path: /assets/img/home/publications.svg
    title: "Publications"
    excerpt: "Read the publications I have written and worked on in collaboration with my colleagues, including news coverage and my PhD dissertation"
    url: "/publications/"
    btn_class: "btn--primary"
    btn_label: "Learn more"
feature_row_4:
  - image_path: /assets/img/home/presentations.svg
    title: "Presentations"
    excerpt: "Take a look at the talks and presentations I have given"
    url: "/presentations/"
    btn_class: "btn--primary"
    btn_label: "Learn more"
---

<h1>About</h1>
<p style="font-size:18px">
Hi, I'm John 👋.
I'm a programmer with a background in computational physics.
Here you can view my programming projects, research interests, publications, and presentations.
You can also read my blog covering topics from data analysis, physics simulations, and scientific computing. 
</p>
<br>

{% include feature_row id="feature_row_1" type="left" %}
{% include feature_row id="feature_row_2" type="left" %}
{% include feature_row id="feature_row_3" type="left" %}
{% include feature_row id="feature_row_4" type="left" %}
