<div>
    <link rel="stylesheet" type="text/css" href="/assets/css/entry.css">

    {% for entry in page.entries %}
    <div class="entry">
        <a href="{{ entry.url }}">
            <img src="{{ entry.image_url }}" alt="" >
        </a>

        <h4>
        <a href="{{ entry.url }}">
        {{ entry.title }}
        </a>
        </h4>

        <p>
            {{ entry.description }}
            <a href="{{ entry.url }}">
                <u>Read more.</u>
            </a>

            <br/>
            <a href="{{ entry.github_url }}"><button class="button"><i class="fab fa-github"></i> GitHub</button></a>
            {% for tag in entry.tags %}
            <button class="tag">{{ tag }}</button>
            {% endfor %}
        </p>
    </div>

    {% endfor %}

    <h2>Additional Projects</h2>
    {% for project in page.additional_projects %}
    <ul style="line-height:1.2;">
        <li> <a href="{{ project.github_url }}"><b>{{ project.title }}</b></a>: {{ project.description }}
        </li>
    </ul>
    {% endfor %}

</div>
