<div>
    <link rel="stylesheet" type="text/css" href="/assets/css/entry.css">

    {% for entry in page.entries %}
    <div class="entry">
        <a href="{{ entry.url }}">
        <video autoplay loop playsinline src="{{ entry.image_url }}"></video>
        </a>

        <h4>
            <a href="{{ entry.url }}">
                {{ entry.title }}
            </a>
        </h4>

        <p>
        {{ entry.description }}
        <a href="{{ entry.url }}">
            <u>Read more.</u>
        </a>
        </p>
    </div>
    {% endfor %}
</div>
